<%= form_tag "/results", :method => "get" do %>

<h1><%= select_tag "jobs", options_for_select(@jobs), :include_blank => true %> in <%= select_tag "cities", options_for_select(@cities), :include_blank => true %></h1>

<%= link_to 'Login', Koala::Facebook::OAuth.new.url_for_oauth_code(:callback => oauth_url) %>
<h2><%= link_to "Create your own?", new_document_path %></h2>

<p><%= session[:fbuser] %><p>

<% end -%>

<script type="text/javascript">
	$(function(){
		$("select").change(function(){
			var navigate = true;
				$("select").each(function(){
					if(this.value===''){
						navigate = false;
					}
				})
				if (navigate === true){
					$("form").submit();
				}
		})
	});
</script>