<%= form_tag "/results", :method => "get" do %>

<h1><%= select_tag "jobs", options_for_select(@jobs) %> in <%= select_tag "cities", options_for_select(@cities) %></h1>

<div id="submit-button"><%= submit_tag "Go!!!!!!!"%></div>

<h2><%= link_to "Create your own?", new_document_path %></h2>

<% end -%>