<p>Here's everything we've got about being a <%=@job%> in <%=@city%>! </p>

<% if @documents.length > 0 then %>
	<ul id="document-list">
        <% @documents.each do |document| %>
        <li> 
            <div class="row">
                <div class="col-md-2">
                    <img src="http://graph.facebook.com/<%= document.author.facebookuid %>/picture?type=normal">
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <p class="txt-sm col-md-10"> <strong><%= document.author.name %> </strong> wrote "<%=link_to document.title, document.url %>"</p>
                    </div>
                    <div class="row">
                        <p class="txt-sm col-md-10"> A little more about <%= document.author.name%>: <%= document.author.bio %></p>
                    </div>
                    
                </div>
            </div>
        </li>
        <% end %>
    </ul>
	
<% else %>
	<br>
    <p class="txt-sm"> Womp womp. There are no documents for this combination yet. Just trying to check out your own area? You could be the first to <%= link_to "create one!", Koala::Facebook::OAuth.new.url_for_oauth_code(:callback => oauth_url) %> Or, if you'd be willing to write one about where you are now, <a href=mailto:"ellen.chisa@gmail.com"> email me </a> and I'll try to find someone to write one about where you're going. </p>
<% end %>