<%= form_for(@document) do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :job %><br />
    <%= f.text_field :job %>
  </div>

  <div class="field">
    <%= label :author, :twitter_handle %><br />
    <%= text_field :author, :twitter_handle %>
  </div>
  <div class="field">
    <%= label :author, :email_address %><br />
    <%= text_field :author, :email_address %>
  </div>
<div class="field">
    <%= label :author, :bio %><br />
    <%= text_area :author, :bio %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
